@import url('https://fonts.cdnfonts.com/css/digital-numbers');

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    border: 3px solid grey;
    background-color: rgb(224, 215, 215);
    width: 80%;
    padding: 1rem;
    margin: 4rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-container {
    display: grid;
}
.sidebar,.c1,.c2,.c3, .header,.footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
   
    font-size: 2rem;
    border: 2px solid black;
}
.header{
    background-image: linear-gradient(to right,rgb(11, 61, 224), rgb(24, 73, 236));
      color: white;
      background-color: rgb(34, 81, 211);
      grid-row: 1;
      grid-column: 1/ span 3;
}
.footer{
    color: white;
      background-color: rgb(34, 81, 211); 
    grid-row: 4;
    grid-column: 1/ span 4;
    
}
.sidebar{
      color: white;
      background-color: rgb(107, 185, 107);
      grid-column: 1/1;
      grid-row: 2/ span 2;
  }
  .c1,.c2,.c3{
      color: white;
     
      background-color: rgb(223, 113, 233);
  }
  .c1{
      grid-column: 2/span 2;
    
  }
  .c2{
      grid-row: 3;
  }
  .c3{
      grid-row: 3;
  }
  .flex-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid blue;
      background-color: #2196F3;
  }
  .flex-item{
    font-family:'digital-clock-font';

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
  }
  .bootstrap-button{
     margin: 1rem;
  }