#navTop{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dashboard{

    color: white;
    text-decoration: underline;
    font-weight: bold;
    
}
.links {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}
.links li{
    margin: 1rem;
    color: rgb(45, 245, 45);
    list-style: none;
}
/* ------------------ */
body {
    background-color: #EEEEEE;
}

.box {
    width: 500px;
    height: 245px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.flexbox {
    display: flex;
    height: 200px;
}

.cover {
    margin: 25px;
    width: 130px;

}

.other {
    height: 40px;
    width: 450px;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.info {
    width: 320px;
}

.m1 {
    margin-top: 30px;
    font-weight: bold;
}

.m2 {
    margin-top: 10px;
    color: gray;
    display: flex;
    font-weight: bold;

}

.e1 {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
    font-size: normal;
    font-weight: normal;
}

.e2 {
    display: flex;
    font-size: normal;
    font-weight: normal;
}

.green {
    color: green;
    padding-left: 3px;
}

.e3 {
    color: black;
    font-weight: normal;
    padding-right: 10px;
    margin-right: 10px;
}

.dropdown {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: left;
    font-size: 17px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media(min-width:900px) 
{
    #hamburger{
        display: none;
    }
}
@media(min-width:0px) and (max-width:899px)
{
    .anchors{
        display: none;
    }
}