.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    width: 457px;
    height: 138px;
} 
.imgContainer img{
    margin: 2px;
    width: 130px;
    height: 130px;
}
.contentContainer{
    font-size: 20px;
    margin-left: 14px;
}
.username{
    font-weight: bold;
    font-family: Roboto;
    
}
.iconContainer{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-top: 14px;
}